.card-body {
    padding: 2rem 0 !important;
    
}

.card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

.overflow {
    overflow: hidden;
}

.card {
    transform: scale(1);
    transition: all 0.1s ease-in-out;
	margin-top: 15px;
    margin-bottom: 15px;
}

.card:hover {
	box-shadow: 5px 10px 20px 1px rgba(230, 225, 225, 0.273) !important;
    transition: all 0.7s linear;
    transform: scale(1.035);
}



.btn3d {
	position: relative;
	top: -6px;
	border: 0;
	transition: all 40ms linear;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2px;
	margin-right: 2px;
}

.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
	-moz-outline-style: none;
	outline: medium none;
}

.btn3d:active,
.btn3d.active {
	top: 2px;
}

.btn3d.btn-info {
	box-shadow: 0 0 0 1px #7f8485 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #808283, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #909697;
}

.btn3d.btn-info:active,
.btn3d.btn-info.active {
	box-shadow: 0 0 0 1px #7f8485 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #909697;
}
