.altamodif{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    resize: both;
    background-color: #dddedf;
    color: #000000;
    border:black ;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}